/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#paneEsquerda {
	-fx-background-color: #2381E9;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {

    -fx-border-width: 1, 1;
    -fx-border-color: -fx-focus-color, -fx-faint-focus-color;
    -fx-border-insets: -4 -4 -6 -5, -2 -2 -5 -3;
    -fx-border-radius: 2, 1; /* looks sharper if outer border has a tighter radius (2 instead of 3) */

}

.tab-pane > .tab-header-area > .headers-region > .tab:selected:top { 

    -fx-border-color:  #a3a7a8, #2381E9 transparent transparent transparent;
    -fx-border-insets: 0, 0 2 0 2;
    -fx-border-width: 3 1 1 1;   
    -fx-border-radius: 3 3 0 0;
    -fx-background-color: white;
    -fx-pref-height: 30px;  
    -fx-background-insets: 0;
}


.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #2381E9;
    -fx-font-weight: bold;
}


.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #2381E9;
    -fx-font-weight: bold;
}


.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color:white;
    -fx-border-color: #a3a7a8;
    -fx-border-width: 0 0 1 0;
    -fx-background-insets: 0;
    -fx-pref-height: 45px;  
}


#fechar {
	-fx-padding: 5 22 5 22;   
    -fx-border-width: 0px 1px 1px 0px;
    -fx-border-radius: 0px 0px 50px 0px;
    -fx-background-color: #2381E9;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-weight: bolder;
    -fx-font-size: 11pt;
    -fx-text-fill: 	#DC143C;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#delete {
	-fx-background-color: #8B0000;
}

#editNome, #editNumero, #editEmail, #editOperadora, #editGrupo {
	-fx-background-color: #4F4F4F;
	-fx-font-size: 10px;
	-fx-padding: 1px;
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #2381E9;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #1E90FF;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #4169E1;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}


/* Background color of the whole context menu */
.choice-box .context-menu { -fx-background-color: #808080; }
/* Focused item background color in the list */
.choice-box .menu-item:focused { -fx-background-color: #ADD8E6; }
/* Text color of non-focused items in the list */
.choice-box .menu-item > .label { -fx-text-fill: white; }
/* Text color of focused item in the list */
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }

.choice-box {
  -fx-background-color: #C0C0C0;
  -fx-mark-color: 	#000080; /* arrow color */
}

/* Selected item text color on the control itself */
.choice-box > .label { -fx-text-fill: black; }